.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
  // .header
  // text-align: center
  // background: red
  // height: 40px
  // line-height: 40px
  // .main
  // flex: 1
  // // background: orange
  // .footer
  // height: 60px
  // line-height: 60px
  // background: #ccc
}
